html,body{
	margin: 0;
	padding: 0;
	font-size: 16px;
}

html{
	height: 100vh;
}

body{
	height: calc(100vh - 91px);
}

div.footer-cls{
	position: relative;
	height: 50px;
}

div.footer-content{
	float: right;
	margin: 15px, 0, 15px, 0;
}


div.center-aligin{
	position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.input-group[class*=col-]{
	float: none;
	padding-left: 15px;
	padding-right: 15px;
}

a.cur_view{
	cursor: pointer;
}