{% extends "manage.html" %}
{% block content %}
<div class="container">
	<div class="form-horizontal">
		<div class="form-group">
			<label class="col-sm-3 control-label">Card Number:</label>
			<div class="col-sm-6" id="card-div">
				<div class="input-group">
					<input id="card_num" name="card_num" class="form-control">
					<span class="input-group-btn">
						<input type="button" id="sub" value="Check Card" class="btn btn-success" onclick="check_card()" disabled>
					</span>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">Book Number:</label>
			<div class="col-sm-6" id="book-div">
				<div class="input-group">
					<input type="" name="book_num" class="form-control">
					<span class="input-group-btn">
						<input type="button" id="bor" value="Borrow" class="btn btn-success" onclick="borrow_book()" disabled>
						<input type="button" id="ret" value="Return" class="btn btn-success" onclick="return_book()" disabled>
					</span>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div id="msg" class="col-sm-offset-1 col-sm-8">
			
		</div>
	</div>
	<div id="book_info" class="table-responsive">

	</div>
</div>
<script type="text/javascript">button_control();</script>
{% endblock %}