<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Book Management!</title>
	<link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css">
	<!-- <link rel="stylesheet" type="text/css" href="/static/css/local.css"> -->
	<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://cdn.bootcss.com/jquery-validate/1.17.0/jquery.validate.min.js"></script>
	<script src="/static/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/static/js/interaction.js?version=1.0"></script>
	<script type="text/javascript" src="/static/js/disp.js?version=1.0"></script>
	<link rel="stylesheet" type="text/css" href="/static/css/cover.css">
</head>
<body>
	 <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Book Management System</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li><a href="/login">Login</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">Welcome!</h1>
            <p class="lead">Welcome to book management system, click following button and start searching books!</p>
            <p class="lead">
              <a href="/search" class="btn btn-lg btn-default">Search Books</a>
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>Book management system by Jack Zhou.</p>
            </div>
          </div>

        </div>

      </div>

    </div>
</body>
</html>