{% extends "base.html" %}

{% block body %}
	<nav class="navbar navbar-default">
		<div class="container">
			<div class="navbar-header">
				<a href="/manage" class="navbar-brand">Management</a>
			</div>
			<ul class="nav navbar-nav">
				<li><a href="/Add">Add Books</a></li>
				<li><a href="/bookmanage">Borrow Or Return Book</a></li>
				<li><a href="/Card">Card Management</a></li>
			</ul>
			<div class="navbar-form navbar-right">
				<button class="btn btn-primary" onclick="location='/logout'">Logout</button>
			</div>
		</div>
	</nav>
	{% block content %}
	{% endblock %}
{% endblock %}